* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  cursor: pointer;
}

:host {
  display: block;
}

:host {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 60px;
  padding: 0 1rem !important;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.inner {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 100%;
}
.logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 100%;
  color: #5e77fd;
  font-weight: 900;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  height: 100%;
}
.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 100%;
  width: 4rem;
  position: relative;
}
.menu__item:hover .submenu {
  display: block;
}
.menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.menu__link:hover {
  color: #5e77fd;
}
.menu__link:hover::after {
  width: 100%;
  transition: width 0.2s ease-out;
}
.menu__link::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #5e77fd;
  position: absolute;
  bottom: -1px;
}

.submenu {
  display: none;
  position: absolute;
  transform: translateY(82px);
  width: 6rem;
  height: fit-content;
  border: 1px solid #eee;
  background-color: white;
  opacity: 0;
  animation: fadeIn 0.2s ease-out forwards;
}
.submenu__item {
  width: 100%;
}
.submenu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 1rem 0.5rem;
}
.submenu__link:hover {
  color: white;
  background-color: #5e77fd;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
